<%- include('./partials/header.ejs')%>
<%- include('./partials/navigation.ejs')%>
<h1>Contact</h1>
<ul>
    
    <li>
        <a href="">Mobile</a>
    </li>
    <li>
        <a href="">Email</a>
    </li>
    <li>
        <a href="">Linkdin</a>
    </li>
    <li>
        <a href="">Skype</a>
    </li>
</ul>

<%- include('./partials/footer.ejs')%>