<%- include('./partials/header.ejs')%>
<%- include('./partials/navigation.ejs')%>
<h1>Skills</h1>
<ul>
    <li>
        HTML5 : <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="80%" aria-valuemin="0" aria-valuemax="100" style="width:80%">80%</div>
          </div>
    </li>
    <li>CSS3 : <div class="progress">
        <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="80%" aria-valuemin="0" aria-valuemax="100" style="width:80%">80%</div>
      </div></li>
    <li>SAAS : <div class="progress">
        <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuenow="80%" aria-valuemin="0" aria-valuemax="100" style="width:80%">80%</div>
      </div></li>
    <li>JAVASCRIPT : <div class="progress">
        <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" aria-valuenow="60%" aria-valuemin="0" aria-valuemax="100" style="width:60%">60%</div>
      </div></li>
    <li>EXPRESS JS : <div class="progress">
        <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" aria-valuenow="60%" aria-valuemin="0" aria-valuemax="100" style="width:60%">60%</div>
      </div></li>
    <li>MANGO DB : <div class="progress">
        <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" aria-valuenow="50%" aria-valuemin="0" aria-valuemax="100" style="width:50%">50%</div>
      </div></li>
    <li>REACT JS : <div class="progress">
        <div class="progress-bar bg-danger progress-bar-striped" role="progressbar" aria-valuenow="40%" aria-valuemin="0" aria-valuemax="100" style="width:40%">40%</div>
      </div></li>

</ul>
<a href="#">Hire Me</a>
<a href="/contact">Contact Me</a>
<%- include('./partials/footer.ejs')%>